* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}
.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.titulo:hover {
    color: #B12FCE;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header {
    width: 100%;
    height: 600px;
    background: #80508f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(273,91%,27%, 0.459), hsla(274, 72%, 63%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(273,91%,27%, 0.459), hsla(274, 72%, 63%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: none;
    text-transform: uppercase;
    color:#B12FCE;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.tooltip{
    position: relative;
}

.tooltip:hover .tooltip-box{
    display: inline-block;
}
.tooltip-box{
    display: none;
    position: absolute;
    background-color: whitesmoke;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color:hsla(273,91%,27%, 0.459);
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px; 
    left:0%;
    bottom: 50px;  
    
}

.tooltip-box::after{
    content: "";
    display: block;
    border-top: 7px solid whitesmoke;
    border-left: 7px solid transparent;
    border-right: 7px solid  transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px);
}

/*DISEÑO PORTAFOLIO*/

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Habilidades*/

.habilidades{
    background: #f2f2f2;
}

.galeria-hab{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-hab{
    width: 20%;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imagen-hab > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Footer*/
footer{
   background: #414141;
    padding: 10px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.galeria-foot{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-foot{
    width: 25%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.imagen-foot > a img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    display: block;
}

.zoom{
    transition: transform .5s;
}

.zoom:hover{
    transform: scale(1.5);
}

.titulo1 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.titulo1:hover {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}